@import url("fonts.css");
@import url("all.min.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #6c7279;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/*==================CONTAINER
====================================================*/

.wrap-banner {
  background: url("../images/background-banner.jpg") no-repeat center top;
  background-size: cover;
  min-height: 750px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*==================HEADER
====================================================*/

.header {
  /*position: fixed;*/
  width: 100%;
  z-index: 999;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;

  border-bottom: 1px solid #515369;
}

/*==================NAV
====================================================*/

.nav {
  display: flex;
  gap: 50px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  color: #ffff;
  text-decoration: none;
  opacity: 0.75;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  opacity: 1;
  text-decoration: underline;
}

/*==================INTRO
====================================================*/

.intro {
  padding-top: 100px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro__subtitle {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 60px;
}

/*==================BUTTON
====================================================*/

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 2px;
  padding: 15px 40px;
  cursor: pointer;

  transition: background 0.1s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #e80b0b;
}

/*==================FEATURES
====================================================*/

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  margin: 25px 0;
  padding: 0 30px;
}

.features__icon {
  font-size: 64px;
  text-align: center;
  margin-bottom: 20px;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  color: #6c7279;
  line-height: 1.4;
}

/*==================WORKS
====================================================*/

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;

  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity .2s linear;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: rgba(232, 69, 69, .9);
}

.works__title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works__text {
  font-size: 14px;
  color: #ffffff;
}



















