@import url("fonts.css");
@import url("all.min.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #6c7279;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/*==================CONTAINER
====================================================*/

.wrap-banner {
  background: url("../images/background-banner.jpg") no-repeat center top;
  background-size: cover;
  min-height: 750px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*==================HEADER
====================================================*/

.header {
  /*position: fixed;*/
  width: 100%;
  z-index: 999;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;

  border-bottom: 1px solid #515369;
}

/*==================NAV
====================================================*/

.nav {
  display: flex;
  gap: 50px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  color: #ffff;
  text-decoration: none;
  opacity: 0.75;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  opacity: 1;
  text-decoration: underline;
}

/*==================INTRO
====================================================*/

.intro {
  padding-top: 100px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro__subtitle {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 60px;
}

/*==================BUTTON
====================================================*/

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 2px;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;

  transition: background 0.1s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #e80b0b;
}

.btn--size {
  min-width: 280px;
}

/*==================FEATURES
====================================================*/

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  margin: 25px 0;
  padding: 0 30px;
}

.features__icon {
  color: #e84545;
  font-size: 60px;
  fill: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  color: #6c7279;
  line-height: 1.4;
}

/*==================WORKS
====================================================*/

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;

  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.2s linear;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: rgba(232, 69, 69, 0.9);
}

.works__title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works__text {
  font-size: 14px;
  color: #ffffff;
}

/*==================TEAMS
====================================================*/

.teams {
  display: flex;
  flex-wrap: wrap;
  margin: 70px -15px;
}

.teams__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.teams__img {
  display: block;
  max-width: 100%;
  height: auto;

  margin-bottom: 20px;
}

.teams__name {
  font-size: 22px;
  color: #2d3033;

  margin-bottom: 8px;
}

.teams__prof {
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;

  margin-bottom: 15px;
}

.teams__text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.4;
  margin-bottom: 20px;
}

/*==================SOCIAL
====================================================*/

.social {
  display: flex;
}

.social--footer {
  justify-content: center;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 4px;

  background-color: #ffffff;
  border: 1px solid #e8ecee;

  transition: background-color 0.2s linear;
}

.social__item:hover {
  background-color: #e8ecee;
}

.social--footer .social__item {
  background-color: transparent;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 2px;
}

.social--footer .social__item:hover {
  background-color: #ffffff;
}

.social__icon {
  width: 100%;
  aspect-ratio: 1/1;
  height: 18px;
  fill: #6c7279;

  transition: fill 0.2s linear;
}

.social__icon:hover {
  fill: #e84545;
}

.social--footer .social__icon {
  fill: #ffffff;
}

.social--footer .social__icon:hover {
  fill: #e84545;
}

/*==================TESTIMONIALS
====================================================*/

.testimonials {
  background-color: #53354a;
  overflow: hidden;
}

.testimonials__item {
  display: flex;
  flex-wrap: wrap;
}

.testimonials__img {
  width: 50%;
  height: 500px;
  position: relative;
}

.review__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
}

.review__content {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
}

.review__author {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

/*==================DOWNLOAD
====================================================*/

.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
}

.download__text {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 30px;
}

/*==================FOOTER
====================================================*/

.footer {
  background-color: #3a3e64;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
}

.footer__item {
  width: 33.33333%;
  padding: 0 15px;

  text-align: center;
}

.footer__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer__address {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.footer__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.5;
}

/*==================COPYRIGHT
====================================================*/

.copyright {
  padding: 20px 0;
  background-color: #313454;
}

.copyright__text {
  text-align: center;
  color: #808080;
  font-size: 14px;
  line-height: 1.5;
}
.heart {
  color: #e84545;
}

.designer {
  color: #ffffff;
}

/*==================MEDIA
====================================================*/

@media (max-width: 1024px) {
  .intro__title {
    font-size: 40px;
  }
}


@media (max-width: 768px) {
  .intro__title {
    font-size: 40px;
  }
}
